@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-ee0u0f');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-ee0u0f') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-ee0u0f') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-ee0u0f') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-ee0u0f#icomoon') format('svg');
}

html, body, .container, .header {
	height: 100%;
}



*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


body {
    background: #fff;
    color: rgb(72, 72, 74);
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Vollkorn', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

.title, .title h1 {
    font-family: 'Ubuntu'
}

.yumsauce {
    background: white;
    color: #5c554c;
}


a {
    outline: none;
    color: #F15634;
    text-decoration: none;
}

a:hover, a:focus {
    color: #69606b;
}

/* To Navigation Style */
.top {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.6em;
    font-family: 'Ubuntu';

    padding: 0 32px;
    letter-spacing: 1px;
    z-index: 10000;
}

.top a {
    display: inline-block;
    color: #F15634;
    text-decoration: none;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}

.top a:hover {
    color: white;
}

.top span.right {
    float: right;
}

.top span.right a {
    display: block;
    float: left;
}


/* Header */
.header {
	position: relative;
	margin: 0 auto;
	min-height: 560px;
	width: 100%;
}

.bg-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bg-img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	/*min-width: 100%;*/
/*	min-height: 100%;*/
}

.title {
	z-index: 1000;
	margin: 0 auto;
	padding: 0 1.25em;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.title h1 {
	padding: 0 0 0.2em;
	color: #fff;
	font-weight: 800;
	font-size: 3.25em;
	margin: 0 auto;
}

.title p {
	color: #fff;
	padding: 0 0 0.6em;
	font-weight: 300;
	font-size: 0.85em;
	margin: 0 auto;
}

.title h1,
.title p.subline {
	line-height: 1;
}

.title p.subline {
	font-size: 1.75em;
}

#katie {
	color: #F15634;
}

#mt {
	color:#F15634;
}

#features {
	color: #F15634;
}

#date {
	color: #F15634;
}


.content {
	margin: 0 auto;
	padding: 0 0 3em;
}

.content > div:not(.title) {
	margin: -80px auto 0;
	max-width: 900px;
	padding: 0 1.25em;
}

.content > div:not(.title) p {
	margin: 0 auto 1.5em auto;
}

.content > div:not(.title) p:first-child {
	font-size: 1.35em;
}

.content h3 {
	margin: 0;
	font-size: 1.4em;
}

.content blockquote {
	padding: 0.25em;
	font-style: italic;
	font-size: 1.25em;
	font-family: 'Lora', serif;
	line-height: 1.4;
	position: absolute;
	left: -85%;
    width: 60%;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0,0,0,.25);
}

#bq1 {
	top: 25%;
	border-top: 5px solid #37A6DD;
    border-bottom: 5px solid #37A6DD;
}

#bq2 {
	border-top: 5px solid #F15634;
    border-bottom: 5px solid #F15634;
    top: 75%;
}

.intro .content .gfx {
	/*padding: 0.25em;*/
	position: absolute;
	left: -80%;
    width: 60%;

}

.intro .content .gfx img {
    width: 100%;
	-webkit-animation:spin 30s linear infinite;
    -moz-animation:spin 30s linear infinite;
    animation:spin 30s linear infinite;
}

.intro .content .gfx .caption {
	color: white;
	position: relative;
	font-style: bold;
	font-size: 1.25em;
	font-family: 'Ubuntu', serif;
	font-weight: 700;
	line-height: 1.4;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 5px 0px rgba(150, 150, 150, 1);
	margin: 20px 0;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.content blockquote::before {
	content: '\201C';
}

.content blockquote::after {
	content: '\201D';
}

/* -------------------------- */
/* Side Fixed */
/* -------------------------- */
.intro:not(.notrans) .bg-img::before {
	-webkit-transition-property: background-color;
	transition-property: background-color;
}

.intro:not(.notrans) .bg-img::after {
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}

.intro:not(.notrans) .title p {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.intro:not(.notrans) .title h1 {
	-webkit-transition-property: color;
	transition-property: color;
}

.intro:not(.notrans) .content > div {
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
}

.intro:not(.notrans) .bg-img::before,
.intro:not(.notrans) .bg-img::after,
.intro:not(.notrans) .title p,
.intro:not(.notrans) .content > div {
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.intro .header {
	position: absolute;
}

.intro .bg-img {
	position: fixed;
}

.intro .bg-img img {
	left: auto;
	right: 0;
	width: 100%;
}

.intro .bg-img::before,
.intro .bg-img::after {
	content: '';
	position: absolute;
	z-index: 100;
}

.intro .bg-img::after {
	background: white;
	top: 0;
	right: 0;
	width: 60%;
	height: 100vh;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.intro.modify .bg-img::after {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.intro .bg-img::before {
	width: 100%;
	height: 100vh;
	background-color: rgba(255,255,255,0.1);
}

.intro.modify .bg-img::before {
	background-color: rgba(255,255,255,0.2);
}

.intro .title {
	font-family: 'Ubuntu'
	position: relative;
	top: auto;
	left: auto;
	text-align: left;
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
}

.intro.modify .title {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.intro .title h1 {
	font-family: 'Ubuntu', serif;
	font-size: 3.5rem;
	font-weight: 700;
	padding: 0 0 0.5em 0;
	color: white;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 5px 0px rgba(150, 150, 150, 1);
}

.intro.modify .title h1 {
	color: #F15634;
	text-shadow: none;

}

.intro .title p {
	opacity: 0;
	color: rgb(72, 72, 74);
}

.intro.modify .title p {
	opacity: 1;
}

.intro .content {
	width: 60%;
	margin-left: 40%;
	padding: 0 2.5em;
}

.intro .content div {
	position: relative;
	margin: 70px 0;
	color: rgb(72, 72, 74);
}

.intro .content div:nth-child(2) {
	opacity: 0;
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
}

.intro.modify .content div:nth-child(2) {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}


/* Delays */
.intro:not(.notrans) .title,
.intro:not(.notrans) .bg-img::before,
.intro:not(.notrans) .bg-img::after {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.intro.modify:not(.notrans) .title,
.intro.modify:not(.notrans) .bg-img::before,
.intro.modify:not(.notrans) .bg-img::after {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.intro.modify:not(.notrans) .content div:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

div.credits {
	margin-top: 50px;
	margin-bottom: 100px;
	text-align: center;
	font-size: .75em;
}


/* Media Queries */
@media screen and (max-width: 47em) {
	.title, .content {
		font-size: 80%;
	}

	.codrops-demos a {
		font-size: 80%;
	}

	.intro .content {
		width: 100%;
		margin-left: auto;
	}

	.intro .bg-img::after {
		width: 95%;
	}

}

@media screen and (max-width: 27em) {
	.intro .bg-img {
		height: 100vh;
	}

	.intro .title h1 {
		font-size: 2.5em;
	}

	.title, .content {
		font-size: 70%;
	}

	.intro .content {
		width: 95%;
		padding: 0;
		color: black;
	}

	.intro .content div {
		margin-top: 0;
	}

	.top {
		display: none;
	}


	button.trigger::before {
		display: none;
	}
}


